/*! projectDotFiles - version - 1.0.8 - 07-07-2015 */

/*! projectDotFiles - version - 1.0.7 - 07-07-2015 */

/*! projectDotFiles - version - 1.0.5 - 07-07-2015 */

/*! projectDotFiles - version - 1.0.0 - 07-07-2015 */

# http://editorconfig.org

root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
