/*! projectDotFiles - version - 1.0.0 - 07-07-2015 */

# Dependencies
node_modules
bower_components

# VIM
*.swp

# Emacs
*~
\#*

# Other
/public/vendor
nohup.out

# IDEs
.idea/*
.project

# Sass
.sass-cache

